<a href="https://colab.research.google.com/github/chayansaha2/practice-project/blob/main/pandas_practice_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**series:** A pandas series is like a column of a table, It's one dimentional array contain or holding of data any type.

In [ ]:
import numpy as np
import pandas as pd

my_list = ['chayan','apon', 'sagor', 'akash', 'dipto']
list = pd.Series(my_list)
display(list)

arr = np.array([20,34,56,76])
lables = ['a', 'b', 'c', 'd']
dict = {1:'apon', 2: 'chayan', 3: 'akash', 4: 'mukul'}

arr_data = pd.Series(arr, index = lables)
display(arr_data)
display(pd.Series(dict))

0    chayan
1      apon
2     sagor
3     akash
4     dipto
dtype: object

a    20
b    34
c    56
d    76
dtype: int64

1      apon
2    chayan
3     akash
4     mukul
dtype: object

**DataFrames**

In [ ]:
import numpy as np
import pandas as pd

data = {
    'Name': ['chayan', 'apon', 'arito', 'dip'],
    'Age': [20,25,26,24],
    'Salary': [1200,2500,3400,4500]
}

df1 = pd.DataFrame(data)
display(df1)

display(df1[['Name','Salary']])

df1['Place'] = ['dhaka','ctg', 'rangpur','khulna']
display(df1)

df1.drop('Place', axis = 1,inplace = True)
display(df1)

display(df1.loc[0])

display(df1.loc[[2,3]][['Name','Salary']])

df1[(df1['Age'] > 21) & (df1['Salary'] > 1500)]

     Name  Age  Salary
0  chayan   20    1200
1    apon   25    2500
2   arito   26    3400
3     dip   24    4500

     Name  Salary
0  chayan    1200
1    apon    2500
2   arito    3400
3     dip    4500

     Name  Age  Salary    Place
0  chayan   20    1200    dhaka
1    apon   25    2500      ctg
2   arito   26    3400  rangpur
3     dip   24    4500   khulna

     Name  Age  Salary
0  chayan   20    1200
1    apon   25    2500
2   arito   26    3400
3     dip   24    4500

Name      chayan
Age           20
Salary      1200
Name: 0, dtype: object

    Name  Salary
2  arito    3400
3    dip    4500

    Name  Age  Salary
1   apon   25    2500
2  arito   26    3400
3    dip   24    4500

**Missing Data
**

In [ ]:
import numpy as np
import pandas as pd


people_data = {
    "name": ["Aditi Sharma", "Chayan Saha", "Apurba Saha", "Rahul Verma", "Priya Iyer", "Neha Gupta"],
    "age": [29, 34, None, 35, 26, None],
    "salary": [55000, 62000, None, 59000, 48000, 51000],
    "place": ["Mumbai", "Kolkata", None, "Bangalore", "Chennai", "Delhi"]
}

data = pd.DataFrame(people_data)
display(data)

data.isna() #find the missing value
data.isna().sum()  #find the total missing value column wise
data.isna().any()
data.dropna()
data.dropna(thresh=2)

values = {'age' : 30, 'salary': 20000, 'place': 'Andhra Pradesh'}
data.fillna(value = values, inplace = True)
display(data)

           name   age   salary      place
0  Aditi Sharma  29.0  55000.0     Mumbai
1   Chayan Saha  34.0  62000.0    Kolkata
2   Apurba Saha   NaN      NaN       None
3   Rahul Verma  35.0  59000.0  Bangalore
4    Priya Iyer  26.0  48000.0    Chennai
5    Neha Gupta   NaN  51000.0      Delhi

           name   age   salary           place
0  Aditi Sharma  29.0  55000.0          Mumbai
1   Chayan Saha  34.0  62000.0         Kolkata
2   Apurba Saha  30.0  20000.0  Andhra Pradesh
3   Rahul Verma  35.0  59000.0       Bangalore
4    Priya Iyer  26.0  48000.0         Chennai
5    Neha Gupta  30.0  51000.0           Delhi

**Merging, joining, concatination**

In [ ]:
import numpy as np
import pandas as pd

dict1 =pd.DataFrame({
    "id": [101, 102, 103, 104, 105],
    "name": ["Anita Sharma", "Jayant Saha", "Akash Saha", "Riya Das", "Neha Gupta"],
    "age": [25, 30, None, 28, 26]
})

display(dict1)

dict2 =pd.DataFrame({
    "id": [101, 102, 103, 106, 107],
    "salary": [40000, 52000, None, 60000, 45000],
    "place": ["Delhi", "Kolkata", "Mumbai", "Chennai", None]
})

display(dict2)

#Merging
pd.merge(dict1,dict2, on ='id', how = 'inner')
pd.merge(dict1,dict2, on ='id', how = 'outer')
pd.merge(dict1,dict2, on ='id', how = 'right')
pd.merge(dict1,dict2, on ='id', how = 'left')

    id          name   age
0  101  Anita Sharma  25.0
1  102   Jayant Saha  30.0
2  103    Akash Saha   NaN
3  104      Riya Das  28.0
4  105    Neha Gupta  26.0

    id   salary    place
0  101  40000.0    Delhi
1  102  52000.0  Kolkata
2  103      NaN   Mumbai
3  106  60000.0  Chennai
4  107  45000.0     None

    id          name   age   salary    place
0  101  Anita Sharma  25.0  40000.0    Delhi
1  102   Jayant Saha  30.0  52000.0  Kolkata
2  103    Akash Saha   NaN      NaN   Mumbai
3  104      Riya Das  28.0      NaN      NaN
4  105    Neha Gupta  26.0      NaN      NaN

**concatination- same column**

In [ ]:
import numpy as np
import pandas as pd
dict_a = {
    "id": [1, 2, 3],
    "name": ["Anita Sharma", "Jayant Saha", "Akash Saha"],
    "age": [25, 30, 28],
    "salary": [40000, 52000, None]
}
df1 = pd.DataFrame(dict_a)
display(df1)

dict_b = {
    "id": [4, 5, 6],
    "name": ["Riya Das", "Neha Gupta", "Arjun Roy"],
    "age": [26, None, 29],
    "salary": [45000, 48000, 50000]
}
df2 = pd.DataFrame(dict_b)
display(df2)

pd.concat([df1, df2])
pd.concat([df1, df2], axis = 1)

   id          name  age   salary
0   1  Anita Sharma   25  40000.0
1   2   Jayant Saha   30  52000.0
2   3    Akash Saha   28      NaN

   id        name   age  salary
0   4    Riya Das  26.0   45000
1   5  Neha Gupta   NaN   48000
2   6   Arjun Roy  29.0   50000

   id          name  age   salary  id        name   age  salary
0   1  Anita Sharma   25  40000.0   4    Riya Das  26.0   45000
1   2   Jayant Saha   30  52000.0   5  Neha Gupta   NaN   48000
2   3    Akash Saha   28      NaN   6   Arjun Roy  29.0   50000

**joining**

In [ ]:
import numpy as np
import pandas as pd

dict_students = {
    "id": [1, 2, 3, 4, 5],
    "name": ["Anita Sharma", "Jayant Saha", "Akash Saha", "Riya Das", "Neha Gupta"],
    "age": [25, 30, 28, None, 26]
}

df1 = pd.DataFrame(dict_students).set_index('id')
display(df1)


dict_jobs = {
    "id": [1, 2, 3, 6, 7],
    "salary": [40000, 52000, None, 60000, 45000],
    "place": ["Delhi", "Kolkata", "Mumbai", "Chennai", None]
}
df2 = pd.DataFrame(dict_jobs).set_index('id')
display(df2)

df1.join(df2)

            name   age
id
1   Anita Sharma  25.0
2    Jayant Saha  30.0
3     Akash Saha  28.0
4       Riya Das   NaN
5     Neha Gupta  26.0

     salary    place
id
1   40000.0    Delhi
2   52000.0  Kolkata
3       NaN   Mumbai
6   60000.0  Chennai
7   45000.0     None

            name   age   salary    place
id
1   Anita Sharma  25.0  40000.0    Delhi
2    Jayant Saha  30.0  52000.0  Kolkata
3     Akash Saha  28.0      NaN   Mumbai
4       Riya Das   NaN      NaN      NaN
5     Neha Gupta  26.0      NaN      NaN

**Group By**

In [ ]:
import numpy as np
import pandas as pd

sales_data = {
    "Employee": ["Rahul", "Priya", "Rahul", "Amit", "Priya", "Amit", "Rahul"],
    "Department": ["IT", "HR", "IT", "Finance", "HR", "Finance", "IT"],
    "Month": ["Jan", "Jan", "Feb", "Feb", "Mar", "Mar", "Mar"],
    "Sales": [500, 300, 450, 600, 350, 650, 700]
}

df = pd.DataFrame(sales_data)
display(df)

group_by = df.groupby('Employee').sum('Sales')
display(group_by)

group_by_1 = df.groupby(['Employee', 'Department']).sum('Sales')
display(group_by_1)

  Employee Department Month  Sales
0    Rahul         IT   Jan    500
1    Priya         HR   Jan    300
2    Rahul         IT   Feb    450
3     Amit    Finance   Feb    600
4    Priya         HR   Mar    350
5     Amit    Finance   Mar    650
6    Rahul         IT   Mar    700

          Sales
Employee
Amit       1250
Priya       650
Rahul      1650

                     Sales
Employee Department
Amit     Finance      1250
Priya    HR            650
Rahul    IT           1650

**Aggregation**

In [ ]:
import numpy as np
import pandas as pd

student_data = {
    "Student": ["Anu", "Ravi", "Anu", "Ravi", "Sara", "Sara", "Anu"],
    "Subject": ["Math", "Math", "Science", "Science", "Math", "Science", "English"],
    "Marks": [85, 78, 90, 82, 88, 91, 75]
}

df = pd.DataFrame(student_data)
display(df)

df['Marks'].mean()

df['Marks'].agg(['mean', 'median', 'std', 'min','max'])

  Student  Subject  Marks
0     Anu     Math     85
1    Ravi     Math     78
2     Anu  Science     90
3    Ravi  Science     82
4    Sara     Math     88
5    Sara  Science     91
6     Anu  English     75

mean      84.142857
median    85.000000
std        6.094494
min       75.000000
max       91.000000
Name: Marks, dtype: float64

**pivot**

In [ ]:
import numpy as np
import pandas as pd

sales_pivot = {
    "Date": ["2024-01", "2024-01", "2024-02", "2024-02",
             "2024-03", "2024-03", "2024-03"],
    "Region": ["East", "West", "East", "West",
               "East", "West", "North"],
    "Product": ["Laptop", "Laptop", "Tablet", "Tablet",
                "Laptop", "Tablet", "Laptop"],
    "Sales": [1200, 1500, 800, 950, 1700, 1100, 1300]
}

df = pd.DataFrame(sales_pivot)
display(df)
pd.pivot_table(df,index = 'Region', columns = 'Product', values= 'Sales')
pd.crosstab(df['Region'], df['Product'])

      Date Region Product  Sales
0  2024-01   East  Laptop   1200
1  2024-01   West  Laptop   1500
2  2024-02   East  Tablet    800
3  2024-02   West  Tablet    950
4  2024-03   East  Laptop   1700
5  2024-03   West  Tablet   1100
6  2024-03  North  Laptop   1300

Product  Laptop  Tablet
Region
East          2       1
North         1       0
West          1       2

**Operation**

In [ ]:
import numpy as np
import pandas as pd

import pandas as pd

sales_data = {
    "OrderID": [101,102,103,104,105,106,107,108,109,110],
    "Customer": ["Rahul","Anita","John","Sara","Rahul","Anita","John","Sara","Rahul","John"],
    "Region": ["East","West","East","North","East","West","North","North","West","East"],
    "Product": ["Laptop","Phone","Tablet","Laptop","Phone","Tablet","Laptop","Phone","Tablet","Laptop"],
    "Quantity": [2,1,3,2,4,2,1,3,2,1],
    "Price": [60000,20000,15000,62000,21000,14000,61000,22000,16000,63000]
}

df_sales = pd.DataFrame(sales_data)
display(df_sales)

df_sales.shape

df_sales.columns
df_sales.info()

df_sales.describe()

bc = df_sales['Price'] + 100
display(bc)
display (df_sales)

#function
def square(X):
  return X**2

df_sales['Quantity'] = df_sales['Quantity'].apply(square)

display(df_sales)

   OrderID Customer Region Product  Quantity  Price
0      101    Rahul   East  Laptop         2  60000
1      102    Anita   West   Phone         1  20000
2      103     John   East  Tablet         3  15000
3      104     Sara  North  Laptop         2  62000
4      105    Rahul   East   Phone         4  21000
5      106    Anita   West  Tablet         2  14000
6      107     John  North  Laptop         1  61000
7      108     Sara  North   Phone         3  22000
8      109    Rahul   West  Tablet         2  16000
9      110     John   East  Laptop         1  63000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   10 non-null     int64
 1   Customer  10 non-null     object
 2   Region    10 non-null     object
 3   Product   10 non-null     object
 4   Quantity  10 non-null     int64
 5   Price     10 non-null     int64
dtypes: int64(3), object(3)
memory usage: 612.0+ bytes

0    60100
1    20100
2    15100
3    62100
4    21100
5    14100
6    61100
7    22100
8    16100
9    63100
Name: Price, dtype: int64

   OrderID Customer Region Product  Quantity  Price
0      101    Rahul   East  Laptop         2  60000
1      102    Anita   West   Phone         1  20000
2      103     John   East  Tablet         3  15000
3      104     Sara  North  Laptop         2  62000
4      105    Rahul   East   Phone         4  21000
5      106    Anita   West  Tablet         2  14000
6      107     John  North  Laptop         1  61000
7      108     Sara  North   Phone         3  22000
8      109    Rahul   West  Tablet         2  16000
9      110     John   East  Laptop         1  63000

   OrderID Customer Region Product  Quantity  Price
0      101    Rahul   East  Laptop         4  60000
1      102    Anita   West   Phone         1  20000
2      103     John   East  Tablet         9  15000
3      104     Sara  North  Laptop         4  62000
4      105    Rahul   East   Phone        16  21000
5      106    Anita   West  Tablet         4  14000
6      107     John  North  Laptop         1  61000
7      108     Sara  North   Phone         9  22000
8      109    Rahul   West  Tablet         4  16000
9      110     John   East  Laptop         1  63000

**Feature extraction projrct**

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 5))
sns.countplot(data=df, x='price_category', order=['Low', 'Medium', 'High'], palette='viridis')
plt.title('Distribution of Course Price Categories')
plt.xlabel('Price Category')
plt.ylabel('Count')
plt.show()

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"/content/drive/MyDrive/Colab Notebooks/online_courses_feature_extraction.csv")
df

,user_id,age,gender,city,course_category,course_price,discount_percent,rating,review_count,watch_time_minutes,completed,device,signup_date,last_active_days
0,U001,22,Male,Kolkata,Data Science,4999,20,4.5,120,850,Yes,Mobile,2023-01-15,2
1,U002,28,Female,Delhi,Web Development,3999,10,4.2,85,620,Yes,Laptop,2023-03-10,5
2,U003,19,Male,Mumbai,AI,5999,30,4.8,200,1200,Yes,Mobile,2023-02-05,1
3,U004,35,Female,Chennai,Marketing,2999,0,3.9,40,300,No,Tablet,2023-04-01,20
4,U005,24,Male,Kolkata,Data Science,4999,15,4.6,150,950,Yes,Laptop,2023-01-20,3
5,U006,31,Female,Delhi,AI,5999,25,4.7,180,1100,Yes,Mobile,2023-02-18,4
6,U007,27,Male,Bangalore,Web Development,3999,5,4.1,60,500,No,Laptop,2023-03-22,15
7,U008,21,Female,Mumbai,Marketing,2999,20,4.0,70,450,Yes,Mobile,2023-04-12,6
8,U009,29,Male,Chennai,AI,5999,35,4.9,220,1400,Yes,Tablet,2023-01-30,2
9,U010,26,Female,Kolkata,Data Science,4999,10,4.3,100,780,No,Mobile,2023-03-05,10

1 Create final_price after discount.

In [ ]:
df['final_price'] = df['course_price'] * (1 - df['discount_percent'] / 100)
display(df[['course_price', 'discount_percent', 'final_price']].head())

   course_price  discount_percent  final_price
0          4999                20      3999.20
1          3999                10      3599.10
2          5999                30      4199.30
3          2999                 0      2999.00
4          4999                15      4249.15

2 Create discount_amount

In [ ]:
df['discount_amount'] = df['course_price'] - df['final_price']
display(df[['course_price', 'discount_percent', 'final_price', 'discount_amount']].head())

   course_price  discount_percent  final_price  discount_amount
0          4999                20      3999.20           999.80
1          3999                10      3599.10           399.90
2          5999                30      4199.30          1799.70
3          2999                 0      2999.00             0.00
4          4999                15      4249.15           749.85

Convert completed column:

Yes  1

No  0

In [ ]:
df['completed'] = df['completed'].map({'Yes': 1, 'No': 0})
display(df.head())

,user_id,age,gender,city,course_category,course_price,discount_percent,rating,review_count,watch_time_minutes,completed,device,signup_date,last_active_days,final_price,discount_amount
0,U001,22,Male,Kolkata,Data Science,4999,20,4.5,120,850,1,Mobile,2023-01-15,2,3999.20,999.80
1,U002,28,Female,Delhi,Web Development,3999,10,4.2,85,620,1,Laptop,2023-03-10,5,3599.10,399.90
2,U003,19,Male,Mumbai,AI,5999,30,4.8,200,1200,1,Mobile,2023-02-05,1,4199.30,1799.70
3,U004,35,Female,Chennai,Marketing,2999,0,3.9,40,300,0,Tablet,2023-04-01,20,2999.00,0.00
4,U005,24,Male,Kolkata,Data Science,4999,15,4.6,150,950,1,Laptop,2023-01-20,3,4249.15,749.85

4 Extract:

signup_year

signup_month

signup_day

In [ ]:
df['signup_date'] = pd.to_datetime(df['signup_date'])
df['signup_year'] = df['signup_date'].dt.year
df['signup_month'] = df['signup_date'].dt.month
df['signup_day'] = df['signup_date'].dt.day
display(df[['signup_date', 'signup_year', 'signup_month', 'signup_day']].head())

  signup_date  signup_year  signup_month  signup_day
0  2023-01-15         2023             1          15
1  2023-03-10         2023             3          10
2  2023-02-05         2023             2           5
3  2023-04-01         2023             4           1
4  2023-01-20         2023             1          20

Create is_active_user

1 if last_active_days  7

else 0

In [ ]:
df['is_active_user'] = df['last_active_days'].apply(lambda x: 1 if x <= 7 else 0)
display(df[['last_active_days', 'is_active_user']].head())

   last_active_days  is_active_user
0                 2               1
1                 5               1
2                 1               1
3                20               0
4                 3               1

Create price_category

< 3500  Low

35005000  Medium

5000  High

In [ ]:
df['price_category'] = df['course_price'].apply(lambda x: 'Low' if x < 3500 else ('Medium' if x <= 5000 else 'High'))
display(df[['course_price', 'price_category']].head(10))

   course_price price_category
0          4999         Medium
1          3999         Medium
2          5999           High
3          2999            Low
4          4999         Medium
5          5999           High
6          3999         Medium
7          2999            Low
8          5999           High
9          4999         Medium

Create engagement_score

In [ ]:
df.head()
df['engagement_score'] = df['watch_time_minutes']/df['review_count']
display(df[['review_count','watch_time_minutes','engagement_score']])

   review_count  watch_time_minutes  engagement_score
0           120                 850          7.083333
1            85                 620          7.294118
2           200                1200          6.000000
3            40                 300          7.500000
4           150                 950          6.333333
5           180                1100          6.111111
6            60                 500          8.333333
7            70                 450          6.428571
8           220                1400          6.363636
9           100                 780          7.800000

8 Create high_rating_user

rating  4.5  1 else 0

In [ ]:
df.head()
df['high_rating_user'] = df['rating'].apply(lambda x: 1 if x >=  4.5 else 0)
display(df[['user_id', 'course_category','rating','high_rating_user']])

  user_id  course_category  rating  high_rating_user
0    U001     Data Science     4.5                 1
1    U002  Web Development     4.2                 0
2    U003               AI     4.8                 1
3    U004        Marketing     3.9                 0
4    U005     Data Science     4.6                 1
5    U006               AI     4.7                 1
6    U007  Web Development     4.1                 0
7    U008        Marketing     4.0                 0
8    U009               AI     4.9                 1
9    U010     Data Science     4.3                 0

Create power_user
Condition:

completed == 1

rating  4.5

watch_time_minutes > 800

In [ ]:
df['power_user'] = ((df['completed'] == 1) & (df['rating'] >= 4.5) & (df['watch_time_minutes'] > 800)).astype(int)
display(df[['user_id', 'completed', 'rating', 'watch_time_minutes', 'power_user']])

  user_id  completed  rating  watch_time_minutes  power_user
0    U001          1     4.5                 850           1
1    U002          1     4.2                 620           0
2    U003          1     4.8                1200           1
3    U004          0     3.9                 300           0
4    U005          1     4.6                 950           1
5    U006          1     4.7                1100           1
6    U007          0     4.1                 500           0
7    U008          1     4.0                 450           0
8    U009          1     4.9                1400           1
9    U010          0     4.3                 780           0

Create inactive_risk

last_active_days > 10  1 else 0

In [ ]:
df['inactive_risk'] = (df['last_active_days'] > 10).astype(int)
display(df[['user_id', 'last_active_days', 'inactive_risk']].head(10))

  user_id  last_active_days  inactive_risk
0    U001                 2              0
1    U002                 5              0
2    U003                 1              0
3    U004                20              1
4    U005                 3              0
5    U006                 4              0
6    U007                15              1
7    U008                 6              0
8    U009                 2              0
9    U010                10              0

Create price_per_minute

In [ ]:
df['price_per_minute'] = df['course_price'] / df['watch_time_minutes']
display(df[['course_price', 'watch_time_minutes', 'price_per_minute']].head())

   course_price  watch_time_minutes  price_per_minute
0          4999                 850          5.881176
1          3999                 620          6.450000
2          5999                1200          4.999167
3          2999                 300          9.996667
4          4999                 950          5.262105

12 Average rating per city
(Create new column with mapped average)

In [ ]:
df['city_avg_rating'] = df.groupby('city')['rating'].transform('mean')
display(df[['city', 'rating', 'city_avg_rating']].head(10))

        city  rating  city_avg_rating
0    Kolkata     4.5         4.466667
1      Delhi     4.2         4.450000
2     Mumbai     4.8         4.400000
3    Chennai     3.9         4.400000
4    Kolkata     4.6         4.466667
5      Delhi     4.7         4.450000
6  Bangalore     4.1         4.100000
7     Mumbai     4.0         4.400000
8    Chennai     4.9         4.400000
9    Kolkata     4.3         4.466667

Average completion rate per course_category

In [ ]:
completion_rate = df.groupby('course_category')['completed'].mean().reset_index()
completion_rate.columns = ['course_category', 'avg_completion_rate']
display(completion_rate)

   course_category  avg_completion_rate
0               AI             1.000000
1     Data Science             0.666667
2        Marketing             0.500000
3  Web Development             0.500000

Total revenue per course_category

In [ ]:
total_revenue = df.groupby('course_category')['final_price'].sum().reset_index()
total_revenue.columns = ['course_category', 'total_revenue']
display(total_revenue)

   course_category  total_revenue
0               AI       12597.90
1     Data Science       12747.45
2        Marketing        5398.20
3  Web Development        7398.15

Most popular device (by count)

In [ ]:
device_counts = df['device'].value_counts().reset_index()
device_counts.columns = ['device', 'count']
display(device_counts)

most_popular = device_counts.iloc[0]['device']
print(f"The most popular device is: {most_popular}")

   device  count
0  Mobile      5
1  Laptop      3
2  Tablet      2

The most popular device is: Mobile

16 City-wise user count feature

In [ ]:
df['city_user_count'] = df.groupby('city')['user_id'].transform('count')
display(df[['city', 'user_id', 'city_user_count']].head(10))

        city user_id  city_user_count
0    Kolkata    U001                3
1      Delhi    U002                2
2     Mumbai    U003                2
3    Chennai    U004                2
4    Kolkata    U005                3
5      Delhi    U006                2
6  Bangalore    U007                1
7     Mumbai    U008                2
8    Chennai    U009                2
9    Kolkata    U010                3

17 One-hot encode:

course_category

device

city

In [ ]:
df_encoded = pd.get_dummies(df, columns=['course_category', 'device', 'city'])
display(df_encoded.head())

,user_id,age,gender,course_price,discount_percent,rating,review_count,watch_time_minutes,completed,signup_date,...,course_category_Marketing,course_category_Web Development,device_Laptop,device_Mobile,device_Tablet,city_Bangalore,city_Chennai,city_Delhi,city_Kolkata,city_Mumbai
0,U001,22,Male,4999,20,4.5,120,850,1,2023-01-15,...,False,False,False,True,False,False,False,False,True,False
1,U002,28,Female,3999,10,4.2,85,620,1,2023-03-10,...,False,True,True,False,False,False,False,True,False,False
2,U003,19,Male,5999,30,4.8,200,1200,1,2023-02-05,...,False,False,False,True,False,False,False,False,False,True
3,U004,35,Female,2999,0,3.9,40,300,0,2023-04-01,...,True,False,False,False,True,False,True,False,False,False
4,U005,24,Male,4999,15,4.6,150,950,1,2023-01-20,...,False,False,True,False,False,False,False,False,True,False

18 Label encode gender

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['gender_encoded'] = le.fit_transform(df['gender'])
display(df[['gender', 'gender_encoded']].head())

   gender  gender_encoded
0    Male               1
1  Female               0
2    Male               1
3  Female               0
4    Male               1